html,
body {
  font-family: "Poppins";
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 10px;
  background-color: #d4cab978;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
